# CNN API Configuration
VITE_CNN_API_URL=http://localhost:8000

# Calimero Node Configuration
# Change this to connect to different nodes:
# For node1: http://node1.127.0.0.1.nip.io
# For node2: http://node2.127.0.0.1.nip.io
VITE_CALIMERO_NODE_URL=http://node1.127.0.0.1.nip.io
